In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import torch
from sklearn import datasets


pd_data = pd.read_csv("./datasets/train/train.csv")
print(pd_data.head())

    index  target  feature_0  feature_1  feature_2  feature_3  feature_4  \
0   24771       0   0.128367        1.0        1.0        1.0        1.0
1  245889       0   0.258685        1.0        1.0        1.0        0.0
2   47222       0   0.407738        1.0        1.0        1.0        2.0
3   41231       0   0.439134        1.0        1.0        1.0        1.0
4   27547       0   0.590481        1.0        1.0        1.0        0.0

   feature_5  feature_6  feature_7  ...  feature_1357  feature_1358  \
0        4.0        2.0        2.0  ...           0.0           0.0
1        7.0        2.0        9.0  ...           0.0           0.0
2        7.0        1.0        2.0  ...           0.0           0.0
3        2.0        1.0        0.0  ...           0.0           0.0
4        1.0        3.0        1.0  ...           0.0           0.0

   feature_1359  feature_1360  feature_1361  feature_1362  feature_1363  \
0           0.0             0             0             0             0
1           0.0             0             0             0             0
2           0.0             0             0             0             0
3           0.0             0             0             0             0
4           0.0             0             0             0             0

   feature_1364  feature_1365  feature_1366
0             0             1             0
1             0             0             0
2             0             0             0
3             0             0             0
4             0             0             0

[5 rows x 1369 columns]

In [ ]:
stat = pd_data.isnull().sum()
print(sum(stat)) # 0 => все переменные значимые

0

In [ ]:
described_data = pd_data.describe()
described_data

,index,target,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,...,feature_1357,feature_1358,feature_1359,feature_1360,feature_1361,feature_1362,feature_1363,feature_1364,feature_1365,feature_1366
count,177858.000000,177858.000000,177858.000000,177858.000000,177858.0,177858.0,177858.000000,177858.000000,177858.00000,177858.000000,...,177858.000000,177858.000000,177858.000000,177858.000000,177858.000000,177858.000000,177858.000000,177858.000000,177858.000000,177858.000000
mean,127073.120096,0.016069,0.453837,0.614991,1.0,1.0,0.887005,2.399251,1.41866,1.780060,...,-0.098742,-0.100771,-0.104657,0.098410,0.091955,0.061577,0.019341,0.098179,0.143986,0.106585
std,73314.823647,0.125741,0.185279,0.486599,0.0,0.0,0.810091,2.127329,1.01921,1.909114,...,0.323541,0.319757,0.312348,0.297869,0.288964,0.240387,0.137722,0.297558,0.351076,0.308586
min,0.000000,0.000000,0.107143,0.000000,1.0,1.0,0.000000,0.000000,0.00000,0.000000,...,-1.000000,-1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,63600.250000,0.000000,0.316208,0.000000,1.0,1.0,0.000000,1.000000,1.00000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,127103.500000,0.000000,0.438744,1.000000,1.0,1.0,1.000000,2.000000,1.00000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,190510.500000,0.000000,0.585797,1.000000,1.0,1.0,1.000000,3.000000,2.00000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,254082.000000,1.000000,0.996463,1.000000,1.0,1.0,17.000000,28.000000,18.00000,30.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
sns.heatmap(pd_data.corr())